.vscode/
common/.config/gtk-3.0/bookmarks
thunar/.config/Thunar/*.scm
tmux/.config/tmux/plugins/*
k9s/.config/k9s/skins/*.yaml
!common/.vscode

gnupg/.gnupg/*
!gnupg/.gnupg/gpg-agent-conf

zsh/**/.zcompdump*
zsh/**/.zhistory
zsh/**/.zsh_plugins.zsh
zsh/**/.zdirs
zsh/**/.cache
zsh/**/atuin*
zsh/**/includes/**/*.*
!zsh/**/includes/**/.gitkeep

onedrive/**/*/*.*
onedrive/**/*/refresh_token
