/* Catppuccin Mocha */
/* https://github.com/catppuccin/waybar/ */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  border: none;
  font-family: "MelsnoLGM Nerd Font";
  /* Recommended font sizes: 720p: ~14px, 1080p: ~18px */
  font-size: 14px;
  /* reference the color by using @color-name */
}

window#waybar {
  background-color: shade(@base, 0.8);
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}
tooltip {
  background: @base;
  border: 2px solid alpha(@crust, 0.3);
}
tooltip label {
  color: @text;
}
#workspaces button {
  padding: 0 4px 0 4px;
  background-color: transparent;
  color: @text;
  min-width: 30px;
}

#workspaces button.active {
  padding: 0 4px 0 4px;
  background-color: @surface0;
  color: shade(@lavender, 0.8);
}

#workspaces button:hover {
  background-color: shade(@crust, 0.9);
  color: shade(@yellow, 0.8);
}

#workspaces button.focused {
  background-color: @surface0;
  color: shade(@mauve, 0.8);
}

#workspaces button.urgent {
  color: @red;
}

#mode {
  padding: 0px 5px;
  font-weight: bold;
  /* font-style: italic; */
  background-color: shade(@surface0, 0.8);
  color: shade(@red, 0.8);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#custom-power,
#custom-pacman,
#language {
  padding: 0px 3px;
  margin: 4px 3px 5px 3px;
  color: @text;
  background-color: transparent;
}

#window,
#workspaces {
  padding: 2px 0 1px 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: @subtext1;
}

#battery {
  color: shade(@blue, 0.8);
}

@keyframes battery-blink {
  from {
    background-color: transparent;
    color: shade(@blue, 0.8);
  }
  to {
    background-color: shade(@red, 0.7);
    color: @text;
  }
}

#battery.critical:not(.charging) {
  padding: 0 8px;
  border-radius: 4px;
  font-weight: bold;
  animation: battery-blink 500ms infinite;
  animation-direction: alternate;
}

#battery.charging {
  padding: 0 8px;
  border-radius: 4px;
  font-weight: bold;
  color: shade(@yellow, 0.8);
}

label:focus {
  background-color: @crust;
}

#cpu {
  color: shade(@maroon, 0.8);
}

#memory {
  color: shade(@sky, 0.8);
}

#backlight {
  color: shade(@yellow, 0.7);
}

#backlight.normal {
  color: shade(@yellow, 0.7);
}
#backlight.full {
  color: shade(@text, 0.7);
}

#network {
  color: shade(@peach, 0.8);
}

#network.disconnected {
  color: shade(@red, 0.8);
}

#pulseaudio {
  color: shade(@maroon, 0.8);
}

#pulseaudio.muted {
  color: shade(@yellow, 0.8);
}

#custom-power {
  color: shade(@teal, 0.8);
}

#custom-waylandvsxorg {
  color: shade(@sky, 0.8);
}

#custom-pacman {
  color: shade(@green, 0.8);
}

#custom-media {
  background-color: shade(@mantle, 0.8);
  color: @subtext1;
  padding: 4px 8px;
  min-width: 150px;
  border-radius: 7px;
  border: 2px solid alpha(@mauve, 0.8);
}

#custom-media.custom-spotify {
  border: 2px solid alpha(@green, 0.8);
}

#custom-media.custom-vlc {
  border: 2px solid alpha(@peach, 0.8);
}

#custom-media.custom-chromium {
  border: 2px solid alpha(@maroon, 0.8);
}

#temperature {
  color: shade(@blue, 0.8);
}

@keyframes temperature-blink {
  from {
    background-color: transparent;
    color: shade(@blue, 0.8);
  }
  to {
    background-color: shade(@red, 0.8);
    color: @text;
  }
}

#temperature.critical {
  border-radius: 4px;
  font-weight: bold;
  animation: temperature-blink 500ms infinite;
  animation-direction: alternate;
}

#tray {
  /* border: 1px solid alpha(@mantle, 0.7); */
}

#idle_inhibitor {
  background-color: @surface0;
  border-radius: 4px;
}

#mpd {
  color: shade(@yellow, 0.8);
}

#custom-language {
  color: @text;
  min-width: 16px;
}

#custom-separator {
  color: @mantle;
  margin: 0 1px;
  padding-bottom: 5px;
}

#custom-wmname {
  background-color: shade(@mantle, 0.6);
  font-size: 15px;
  padding: 0 2px;
  border-right: 3px solid shade(@flamingo, 0.8);
}

#custom-recorder,
#custom-audiorec {
  color: shade(@red, 0.8);
}
