[user]
email = aland20@pm.me
name = AlanD20
signingkey = 70912BD60D19DD10

[init]
defaultBranch = main

[core]
editor = code --wait
pager = delta

[gpg]
# program = "C:/Program Files (x86)/gnupg/bin/gpg"
program = "/usr/bin/gpg"

[commit]
gpsign = true
gpgsign = true

[rebase]
autoStash = true
gpgsign = true

[delta]
  line-numbers = true
  syntax-theme = Dracula
  side-by-side = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

# Always use ssh instead of https for my own account
[url "git@github.com:AlanD20"]
        insteadOf = https://github.com/AlanD20
